<footer>
    <div>
        <div class="logo"><span class="logo1">Erti</span><span class="logo2">Peribahasa</span>

        </div>
        <p>ErtiPeribahasa.com merupakan laman yang menyediakan senarai peribahasa Bahasa Melayu terbesar. Jom
            memperkasakan
            bahasa melalui peribahasa!</p>
    </div>

    <ul>
        <li>Hubungi Kami</li>
        <li>Tentang Kami</li>
    </ul>


</footer>
</body>

</html>