<%- include('partials/head') %>
    <%- include('partials/navbar') %>
        <!-------------------------------------------------------------------->
        <main>
            <section>
                <!--peribahasa-->
                <p class="peribahasa">abu di atas tunggul</p>
            </section>
            <section>
                <!--maksud dan keterangan-->
                <p class="subheading">Maksud</p>
                <p class="text">Hilang dengan mudah, iaitu pada bila-bila masa sahaja boleh tercampak atau terbuang.</p>

                <p class="subheading">Penjelasan</p>
                <p class="text">Abu ialah sisa bahan terbakar yang berbentuk debu. Apabila abu yang sangat halus itu
                    terletak di atas
                    tunggul yang biasanya lebih tinggi daripada tanah, bila-bila masa sahaja abu itu mudah diterbangkan
                    angin atau hilang dicucuri hujan. Oleh sebab itu, abu itu akan mudah lenyap tanpa meninggalkan
                    kesan.</p>

                <p class="subheading">Contoh Ayat</p>
                <p class="text">Kedudukan Encik Borhan sebagai pengarah syarikat itu bagaikan abu di atas tunggul kerana
                    dia tidak
                    disukai oleh ahli-ahli lembaga pengarah.</p>
            </section>
        </main>

        <!-------------------------------------------------------------------->
        <%- include('partials/footer') %>