<%- include('partials/head') %>
    <%- include('partials/navbar') %>

        <!-------------------------->


        <h1>BELAKANG PEJABAT</h1>


        <!------------------------------>
        <%- include('partials/footer') %>